@model medicamento.Models.ShoppingCart.OrderModel

@{
    ViewData["Title"] = "Edit Order";
}

<header class="page-header page-header-compact page-header-light mb-4 bg-white">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="file-text"></i></div>
                        Edit Order
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" asp-action="Index">
                        <i class="me-1" data-feather="arrow-left"></i>
                        Back to Order List
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-xl mt-4 px-4">
    <hr class="mb-4 mt-0" />
    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header bg-secondary text-white">Order Details #@Model.OrderId</div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div class="mb-3">
                            <label asp-for="Username" class="small mb-1" for="inputUsername">First Name</label>
                            <input asp-for="Username" class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="@Model.Username" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label asp-for="FirstName" class="small mb-1" for="inputFirstName">First name</label>
                                <input asp-for="FirstName" class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" value="@Model.FirstName" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="LastName" class="small mb-1" for="inputLastName">Last name</label>
                                <input asp-for="LastName" class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" value="@Model.LastName" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="555-123-4567" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Address" class="small mb-1" for="inputLocation">Location</label>
                                <input asp-for="Address" class="form-control" id="inputLocation" type="text" placeholder="Enter your location" value="@Model.Address" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input asp-for="Email" class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="name@example.com" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <button class="btn btn-secondary" type="submit">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
