.fixed-top,
.nav-fixed #layoutSidenav #layoutSidenav_nav,
.nav-fixed .topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#layoutSidenav {
    display: flex;
}

    #layoutSidenav #layoutSidenav_nav {
        flex-basis: 225px;
        flex-shrink: 0;
        transition: transform 0.15s ease-in-out;
        z-index: 1038;
        transform: translateX(-225px);
    }

    #layoutSidenav #layoutSidenav_content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 0;
        flex-grow: 1;
        min-height: calc(100vh - 56px);
        margin-left: -225px;
    }

.sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    transform: translateX(0);
}

.sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1037;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

@media (min-width: 992px) {
    #layoutSidenav #layoutSidenav_nav {
        transform: translateX(0);
    }

    #layoutSidenav #layoutSidenav_content {
        margin-left: 0;
        transition: margin 0.15s ease-in-out;
    }

    .sidenav-toggled #layoutSidenav #layoutSidenav_nav {
        transform: translateX(-225px);
    }

    .sidenav-toggled #layoutSidenav #layoutSidenav_content {
        margin-left: -225px;
    }

        .sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
            display: none;
        }
}

.nav-fixed .topnav {
    z-index: 1039;
}

.nav-fixed #layoutSidenav #layoutSidenav_nav {
    width: 225px;
    height: 100vh;
    z-index: 1038;
}

    .nav-fixed #layoutSidenav #layoutSidenav_nav .sidenav {
        padding-top: 56px;
    }

        .nav-fixed #layoutSidenav #layoutSidenav_nav .sidenav .sidenav-menu {
            overflow-y: auto;
        }

.nav-fixed #layoutSidenav #layoutSidenav_content {
    padding-left: 225px;
    top: 56px;
}

#layoutError {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

    #layoutError #layoutError_content {
        min-width: 0;
        flex-grow: 1;
    }

    #layoutError #layoutError_footer {
        min-width: 0;
    }

.img-error {
    max-width: 20rem;
}

.nav .nav-link .nav-link-icon,
.sidenav-menu .nav-link .nav-link-icon {
    margin-right: 0.5rem;
}

.topnav {
    padding-left: 0;
    height: 56px;
    z-index: 1039;
}

    .topnav .navbar-brand {
        width: 200px;
        margin: 0;
    }

    .topnav.navbar-dark #sidebarToggle {
        color: rgba(255, 255, 255, 0.5);
    }

    .topnav.navbar-light #sidebarToggle {
        color: #212529;
    }

.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
}

    .sidenav .sidenav-menu {
        flex-grow: 1;
    }

        .sidenav .sidenav-menu .nav {
            flex-direction: column;
            flex-wrap: nowrap;
        }

            .sidenav .sidenav-menu .nav .sidenav-menu-heading {
                padding: 1.75rem 1rem 0.75rem;
                font-size: 0.75rem;
                font-weight: bold;
                text-transform: uppercase;
            }

            .sidenav .sidenav-menu .nav .nav-link {
                display: flex;
                align-items: center;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                position: relative;
            }

                .sidenav .sidenav-menu .nav .nav-link .nav-link-icon {
                    font-size: 0.9rem;
                }

                .sidenav .sidenav-menu .nav .nav-link .sidenav-collapse-arrow {
                    display: inline-block;
                    margin-left: auto;
                    transition: transform 0.15s ease;
                }

                .sidenav .sidenav-menu .nav .nav-link.collapsed .sidenav-collapse-arrow {
                    transform: rotate(-90deg);
                }

            .sidenav .sidenav-menu .nav .sidenav-menu-nested {
                margin-left: 1.5rem;
                flex-direction: column;
            }

    .sidenav .sidenav-footer {
        padding: 0.75rem;
        flex-shrink: 0;
    }

.sidenav-dark {
    background-color: #212529;
    color: rgba(255, 255, 255, 0.5);
}

    .sidenav-dark .sidenav-menu .sidenav-menu-heading {
        color: rgba(255, 255, 255, 0.25);
    }

    .sidenav-dark .sidenav-menu .nav-link {
        color: rgba(255, 255, 255, 0.5);
    }

        .sidenav-dark .sidenav-menu .nav-link .nav-link-icon {
            color: rgba(255, 255, 255, 0.25);
        }

        .sidenav-dark .sidenav-menu .nav-link .sidenav-collapse-arrow {
            color: rgba(255, 255, 255, 0.25);
        }

        .sidenav-dark .sidenav-menu .nav-link:hover {
            color: #fff;
        }

        .sidenav-dark .sidenav-menu .nav-link.active {
            color: #fff;
        }

            .sidenav-dark .sidenav-menu .nav-link.active .nav-link-icon {
                color: #fff;
            }

    .sidenav-dark .sidenav-footer {
        background-color: #343a40;
    }

.sidenav-light {
    background-color: #f8f9fa;
    color: #212529;
}

    .sidenav-light .sidenav-menu .sidenav-menu-heading {
        color: #adb5bd;
    }

    .sidenav-light .sidenav-menu .nav-link {
        color: #212529;
    }

        .sidenav-light .sidenav-menu .nav-link .nav-link-icon {
            color: #adb5bd;
        }

        .sidenav-light .sidenav-menu .nav-link .sidenav-collapse-arrow {
            color: #adb5bd;
        }

        .sidenav-light .sidenav-menu .nav-link:hover {
            color: #0d6efd;
        }

        .sidenav-light .sidenav-menu .nav-link.active {
            color: #0d6efd;
        }

            .sidenav-light .sidenav-menu .nav-link.active .nav-link-icon {
                color: #0d6efd;
            }

    .sidenav-light .sidenav-footer {
        background-color: #e9ecef;
    }

.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90, 92, 105, 0.5);
    line-height: 46px;
}

    .scroll-to-top:focus,
    .scroll-to-top:hover {
        color: white;
    }

    .scroll-to-top:hover {
        background: #5a5c69;
    }

    .scroll-to-top i {
        font-weight: 800;
    }

.topnav .dropdown .dropdown-menu {
    width: calc(100% - 1.5rem) !important;
    right: 0.75rem;
}

.topnav .dropdown {
    position: static;
}

    .topnav .dropdown .dropdown-menu {
        width: calc(100% - 1.5rem);
        right: 0.75rem;
    }

@media (min-width: 992px) {
    .topnav .dropdown {
        position: relative;
    }

        .topnav .dropdown .dropdown-menu {
            width: auto;
            right: 0;
        }

    .topnav .dropdown-list {
        width: 20rem !important;
    }

        .topnav .dropdown-list .dropdown-item .text-truncate {
            max-width: 13.375rem;
        }
}

.form-control:focus,
.datatable-input:focus {
    color: #69707a;
    background-color: #fff;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(0, 97, 242, 0.25);
}

.input-group-joined.input-group-solid {
    border: 0;
    background-color: #eef2f8;
}

.input-group-joined {
    border-color: #c5ccd6;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.4375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .input-group-joined:focus-within {
        border-color: transparent;
        box-shadow: 0 0 0 0.25rem rgba(0, 97, 242, 0.25);
    }

    .input-group-joined .form-control,
    .input-group-joined .datatable-input {
        border: none;
    }

        .input-group-joined .form-control:focus,
        .input-group-joined .datatable-input:focus {
            box-shadow: none;
            outline: none;
        }
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

    .table-responsive > .table-bordered {
        border: 0;
    }

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #858796;
}

    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #e3e6f0;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #e3e6f0;
    }

    .table tbody + tbody {
        border-top: 2px solid #e3e6f0;
    }

.table-sm th,
.table-sm td {
    padding: 0.3rem;
}

.table-bordered {
    border: 1px solid #e3e6f0;
}

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #e3e6f0;
    }

    .table-bordered thead th,
    .table-bordered thead td {
        border-bottom-width: 2px;
    }

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
    border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    color: #858796;
    background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #cdd8f6;
}

    .table-primary th,
    .table-primary td,
    .table-primary thead th,
    .table-primary tbody + tbody {
        border-color: #a3b6ee;
    }

.table-hover .table-primary:hover {
    background-color: #b7c7f2;
}

    .table-hover .table-primary:hover > td,
    .table-hover .table-primary:hover > th {
        background-color: #b7c7f2;
    }

.table-secondary,
.table-secondary > th,
.table-secondary > td {
    background-color: #dddde2;
}

    .table-secondary th,
    .table-secondary td,
    .table-secondary thead th,
    .table-secondary tbody + tbody {
        border-color: #c0c1c8;
    }

.table-hover .table-secondary:hover {
    background-color: #cfcfd6;
}

    .table-hover .table-secondary:hover > td,
    .table-hover .table-secondary:hover > th {
        background-color: #cfcfd6;
    }

.table-success,
.table-success > th,
.table-success > td {
    background-color: #bff0de;
}

    .table-success th,
    .table-success td,
    .table-success thead th,
    .table-success tbody + tbody {
        border-color: #89e2c2;
    }

.table-hover .table-success:hover {
    background-color: #aaebd3;
}

    .table-hover .table-success:hover > td,
    .table-hover .table-success:hover > th {
        background-color: #aaebd3;
    }

.table-info,
.table-info > th,
.table-info > td {
    background-color: #c7ebf1;
}

    .table-info th,
    .table-info td,
    .table-info thead th,
    .table-info tbody + tbody {
        border-color: #96dbe4;
    }

.table-hover .table-info:hover {
    background-color: #b3e4ec;
}

    .table-hover .table-info:hover > td,
    .table-hover .table-info:hover > th {
        background-color: #b3e4ec;
    }

.table-warning,
.table-warning > th,
.table-warning > td {
    background-color: #fceec9;
}

    .table-warning th,
    .table-warning td,
    .table-warning thead th,
    .table-warning tbody + tbody {
        border-color: #fadf9b;
    }

.table-hover .table-warning:hover {
    background-color: #fbe6b1;
}

    .table-hover .table-warning:hover > td,
    .table-hover .table-warning:hover > th {
        background-color: #fbe6b1;
    }

.table-danger,
.table-danger > th,
.table-danger > td {
    background-color: #f8ccc8;
}

    .table-danger th,
    .table-danger td,
    .table-danger thead th,
    .table-danger tbody + tbody {
        border-color: #f3a199;
    }

.table-hover .table-danger:hover {
    background-color: #f5b7b1;
}

    .table-hover .table-danger:hover > td,
    .table-hover .table-danger:hover > th {
        background-color: #f5b7b1;
    }

.table-light,
.table-light > th,
.table-light > td {
    background-color: #fdfdfe;
}

    .table-light th,
    .table-light td,
    .table-light thead th,
    .table-light tbody + tbody {
        border-color: #fbfcfd;
    }

.table-hover .table-light:hover {
    background-color: #ececf6;
}

    .table-hover .table-light:hover > td,
    .table-hover .table-light:hover > th {
        background-color: #ececf6;
    }

.table-dark,
.table-dark > th,
.table-dark > td {
    background-color: #d1d1d5;
}

    .table-dark th,
    .table-dark td,
    .table-dark thead th,
    .table-dark tbody + tbody {
        border-color: #a9aab1;
    }

.table-hover .table-dark:hover {
    background-color: #c4c4c9;
}

    .table-hover .table-dark:hover > td,
    .table-hover .table-dark:hover > th {
        background-color: #c4c4c9;
    }

.table-active,
.table-active > th,
.table-active > td {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

    .table-hover .table-active:hover > td,
    .table-hover .table-active:hover > th {
        background-color: rgba(0, 0, 0, 0.075);
    }

.table .thead-dark th {
    color: #fff;
    background-color: #5a5c69;
    border-color: #6c6e7e;
}

.table .thead-light th {
    color: #6e707e;
    background-color: #eaecf4;
    border-color: #e3e6f0;
}

.table-dark {
    color: #fff;
    background-color: #5a5c69;
}

    .table-dark th,
    .table-dark td,
    .table-dark thead th {
        border-color: #6c6e7e;
    }

    .table-dark.table-bordered {
        border: 0;
    }

    .table-dark.table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(255, 255, 255, 0.05);
    }

    .table-dark.table-hover tbody tr:hover {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.075);
    }