@model int
@{
    ViewBag.Title = "Checkout Complete";
}

<div class="container-xl mt-4 px-4">
    <div class="card invoice">
        <div class="card-header p-md-5 border-bottom-0 bg-gradient-default text-white-50 p-4">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-lg-auto mb-lg-0 text-lg-start mb-5 text-center">
                    @* <img class="invoice-brand-img rounded-circle mb-4" src="assets/img/demo/demo-logo.svg" alt="" /> *@
                    <div class="h2 mb-0 text-white">Checkout Complete</div>

                </div>
                <div class="col-12 col-lg-auto text-lg-end text-center">
                    <div class="h3 text-white">Invoice</div>
                    #@Model
                    <br />
                    @((DateTime.UtcNow.ToString("d 'de' MMMM 'de' yyyy", new System.Globalization.CultureInfo("es-ES"))))

                </div>
            </div>
        </div>
        <div class="card-body p-md-5 p-4">
            <p>Thanks for your order! Your order number is: @Model</p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Continue Shopping</a>
        </div>
        
    </div>
</div>