@{
	ViewData["Title"] = "Home Page";
}

<header class="page-header page-header-dark bg-gradient-default pb-10">
	<div class="container-xl px-4">
		<div class="page-header-content pt-4">
			<div class="row align-items-center justify-content-between">
				<div class="col-auto mt-4">
					<h1 class="page-header-title">
						<div class="page-header-icon"><i data-feather="activity"></i></div>
						Mutus
					</h1>
					<div class="page-header-subtitle">This is a Web Application Development project</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Main page content-->
<div class="container-xl mt-n10 px-4">
	<div class="row">
		<div class="col-xl-4 mb-4">
			<!-- Dashboard example card 1-->
			<a class="card lift h-100" href="#!">
				<div class="card-body d-flex justify-content-center flex-column">
					<div class="d-flex align-items-center justify-content-between">
						<div class="me-3">
							<i class="feather-xl text-secondary mb-3" data-feather="search"></i>
							<h5>Medicine Search Engine</h5>
							<div class="text-muted small">To create informative visual elements on your pages</div>
						</div>
						<img src="~/assets/img/file-search.svg" alt="..." style="width: 8rem" />
					</div>
				</div>
			</a>
		</div>
		<div class="col-xl-4 mb-4">
			<!-- Dashboard example card 2-->
			<a class="card lift h-100" href="#!">
				<div class="card-body d-flex justify-content-center flex-column">
					<div class="d-flex align-items-center justify-content-between">
						<div class="me-3">
							<i class="feather-xl text-secondary mb-3" data-feather="file-text"></i>
							<h5>Order Management</h5>
							<div class="text-muted small">To keep you on track when working with our toolkit</div>
						</div>
						<img src="~/assets/img/add-document.svg" alt="..." style="width: 8rem" />
					</div>
				</div>
			</a>
		</div>
		<div class="col-xl-4 mb-4">
			<!-- Dashboard example card 3-->
			<a class="card lift h-100" href="#!">
				<div class="card-body d-flex justify-content-center flex-column">
					<div class="d-flex align-items-center justify-content-between">
						<div class="me-3">
							<i class="feather-xl text-secondary mb-3" data-feather="user-plus"></i>
							<h5>User Management</h5>
							<div class="text-muted small">To help get you started when building your new UI</div>
						</div>
						<img src="~/assets/img/add-user.svg" alt="..." style="width: 8rem" />
					</div>
				</div>
			</a>
		</div>
	</div>

</div>

