@using medicamento.Services.ShoppingCart
@using Microsoft.AspNetCore.Mvc;
@inject ShoppingCart cart;

@{
    var pathBase = Context;
    var cart = ShoppingCart.GetCart(pathBase);
}

<li class="nav-item dropdown no-caret d-none d-sm-block dropdown-notifications me-3">
    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownMessages"
    href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
        
    <i data-feather="shopping-cart"></i>
        <span id="cart-status" class="badge bg-secondary rounded-pill ms-1">@cart.GetCount()</span>
    </a>
        
    <div class="dropdown-menu dropdown-menu-end animated--fade-in-up border-0 shadow"
    aria-labelledby="navbarDropdownMessages">
        <h6 class="dropdown-header dropdown-notifications-header bg-secondary">
            <i class="me-2" data-feather="shopping-cart"></i>
            Cart Center
        </h6>
        
        @foreach (var item in @cart.GetCartItems())
        {
            <a class="dropdown-item dropdown-notifications-item" href="#!">
                @* <img class="dropdown-notifications-item-img"
                     src="assets/img/illustrations/profiles/profile-2.png" /> *@
                <div class="dropdown-notifications-item-content">
                    <div class="dropdown-notifications-item-content-text">
                        @item.Medicine.des_comercial
                    </div>
                </div>
            </a>
        }
       
        <a class="dropdown-item dropdown-notifications-footer" asp-controller="ShoppingCart" asp-action="Index">View All Items</a>
    </div>
