<nav class="topnav navbar navbar-expand navbar-dark bg-dark">

    <button class="btn btn-link btn-sm order-lg-0 me-lg-0 order-1 me-4" id="sidebarToggle" href="#!">
        <i class="bi bi-list"></i>
    </button>
    <a class="navbar-brand ps-3" href="index.html">Mutus</a>
    <form class="d-none d-lg-inline-block form-inline me-md-3 my-md-0 my-2 me-0">
        @* <div class="input-group">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search"
                   aria-describedby="btnNavbarSearch" />
            <button class="btn btn-dark" id="btnNavbarSearch" type="button">
                <i class="bi bi-search"></i>
            </button>
        </div> *@
        <div class="input-group input-group-joined">
            <input class="form-control border-0" type="text" placeholder="Search" aria-label="Search"
                   aria-describedby="btnNavbarSearch" />
            @* <button class="btn btn-dark" id="btnNavbarSearch" type="button">
                <i class="bi bi-search"></i>
            </button> *@
            <div class="input-group-text border-0">
                <i class="bi bi-search"></i>
            </div>
        </div>
    </form>
    <ul class="navbar-nav me-lg-4 me-3 ms-auto">

        <li class="nav-item dropdown d-lg-none">
            <a class="nav-link dropdown-toggle" id="searchDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                <i class="bi bi-search"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="searchDropdown" style="width: 200px;">
                <form class="form-inline mr-auto">
                    <div class="input-group">
                        <input type="text" class="form-control small border-0" placeholder="Search"
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="button">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                <i class="bi bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" href="#!">Settings</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#!">Activity Log</a>
                </li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li>
                    <a class="dropdown-item" href="#!">Logout</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>